<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../style/main.css" /> -->
    <title>News Project</title>
  </head>
  <body>
    <main class="main">
      <h1>News Project</h1>
      <div class="main-div">
        <label for="input_form">Enter text: </label>
        <textarea id="input_form" name="input_form" rows="5" cols="55">
        </textarea>

        <button class="btn" id="btn">SUBMIT</button>
        <label class="result_output" for="output">Result: </label>
        <textarea id="output" name="output" rows="5" cols="55"> </textarea>
      </div>
    </main>
  </body>
</html>
